.radius-0{
	border-radius: 0;
}
.logo img {
    width: 82px;
    height: 31px;
}
.zdy-logo{
	position: relative;
    padding: 0 20px;
    color: #fff;
    border-radius: 2px;
    font-size: 0;
    box-sizing: border-box;
}
.zdy-logo .logo-cont{
	position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: 60px;
    font-size: 14px;
}
.fleft{
	float: left;
}
.fright{
	float: right;
}
.maxHeight-50{
	max-height: 50px;
}
.layadmin-iframe{
 	position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 64px);
    left: 0;
    top: 60px;
    right: 0;
    bottom: 0;
    padding: 10px;
    border: 0px;
}
.iframe-nofooder{
    height: 100%;
}
.logo-text {
    font-size: 25px;
    color: #ffffff;
    font-family: cursive;
}
.mleft-10{
    margin-left: 10px;
}
.zdy-logo{
    display: flex;
    align-items: center;
}
.zdylg-img{
    width: 100px;
    height: 40px;
}
#tabTitleHome i{
    display: none;
}
#company_name:hover{
    color: #fff;
}