.dis-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-height: 50px;
    max-width: 200px;
    overflow: hidden;
}

.logo img {
    height: 50px;
    width: 190px;
}

.company-name {
    height: 22px;
    line-height: 22px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    margin-right: 15px;
}

.nav-myset a {
    font-size: 15px;
}

.nav-myset img, i {
    width: 18px;
    height: 18px;
    font-size: 16px;
    margin-right: 5px;
}

.layui-layer-dialog .layui-layer-content {
    position: relative;
    padding: 20px;
    line-height: 24px;
    word-break: break-all;
    overflow: hidden;
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: auto;
}

iframe {
    width: 100%;
    height: calc(100% - 3px);
    overflow-y: auto;
    border: 10px solid #FBFBFB;
    box-sizing: border-box;
}

.asid-column {
    flex-direction: column;
}

.jc-center {
    justify-content: center;
}

.asid-fooder {
    width: 200px;
    height: 100px;
    color: #A2A7AB;
    font-size: 12px;
}

.af-top {
    width: 200px;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
}

.af-top div {
    flex: 1;
}

.cust-help {
    font-size: 18px;
}

.call-me {
    white-space: nowrap;
    margin-bottom: 20px;
}

.aside-reset {
    overflow: hidden;
}

.nav-reset {
    flex: 1;        /*margin-bottom: 100px;*/
    overflow-y: auto;
}
