*{
	margin: 0;
	padding: 0;
}
a,li,ul{
	text-decoration: none;
	list-style: none;
}
/*顶部按钮样式*/
.top{
	display: flex;
}
.top-left ul{
	display: flex;
}
.top-left ul li{
	color: #666;
	font-size: 14px;
	margin: 16px auto;
	margin-right: 20px;
	flex-shrink:0;
	position: relative;
}
.top-left ul li a{
	color: #666;
	border: 1px solid #DCDCDC;
	padding: 7px 17px;
	border-radius: 10px;
}
.top-left ul li a:hover{
	border: 1px solid #00CCFF;
	color: #00CCFF;
}
.top-left ul li:hover .layui-nav-child{
	display: block;
	border: 1px solid #00CCFF;
	color: #00CCFF;
}
.layui-nav-child{
	min-width: 100%;
	z-index: 20000;
	top: 27px;
	left: 0;
	padding: 0;
	border-radius: 10px;
	border: none !important;
}
.layui-nav-child dd a{
	border: none !important;
	border-bottom: 1px solid #ccc !important;
	border-radius: 0 !important;
	padding: 0 !important;
	width: 100% !important;
	min-width: 100% !important;
	display: block;
	text-align: center;
}
/*搜索框*/
.search input{
	width: 346px;
	height: 30px;
	color: #ccc;
	font-size: 14px;
	text-indent: 1em;
	margin: 10px 20px;
	outline: none;
}
/*.search input:hover{
	border-style: solid;
	border-color: #999;
}*/
.search input:focus{
	border-style: solid;
	border-color: #6fc0e6;
}
.seniorSearch:hover{
	color: #6FC0E6;
	cursor: pointer;
}
/*tab选项卡样式*/
.layui-tab-card{
	border:none;
	box-shadow: none;
}
.layui-tab-card>.layui-tab-title{
	background-color: #fff;
}
.layui-tab-title{
	height: 30px;
	border: none;
}
.layui-tab-card>.layui-tab-title li{
	width: 112px;
	height: 30px;
	border: 1px solid #ccc;
	line-height: 30px;
	margin: 0;
}
.layui-tab-card>.layui-tab-title li:hover{
	color: #01BAF2;
}
.layui-tab-card>.layui-tab-title .layui-this{
	background: #01BAF2;
	color: #fff;
	height: 30px;
	line-height: 30px;
	border-color: #01BAF2;
}
.layui-tab-card>.layui-tab-title .layui-this:hover{
	color: #fff;
}
.layui-tab-title .layui-this:after{
	height: 30px;
	border:none;
}
.layui-tab-card>.layui-tab-title li:first-child{
	border-radius: 6px 0px 0px 6px;
}
.layui-tab-card>.layui-tab-title li:last-child{
	border-radius: 0px 6px 6px 0px;
}
/*表格样式*/
.layui-form,.layui-border-box,.layui-table-view{
	border-left: none !important;
	border-right: none !important;
	border-bottom: none !important;
}
.layui-tab-item layui-show{
	border: none !important;
}
.layui-table-main::-webkit-scrollbar{
	height: 10px;
	background: #F0F0F0;
}
.layui-table-main::-webkit-scrollbar-thumb{
	background: #A2A7AB;
}
.layui-table thead tr th{
	background: #fff;
	text-align: center;
	height: 50px;
}
.layui-table-view .layui-table td{
	height: 50px;
	text-align: center;
}
/*复选框*/
.layui-table-view .layui-form-checkbox[lay-skin=primary] i:hover{
	border-color: #00CCFF;
}
.layui-form-checked[lay-skin=primary] i{
	border-color: #00CCFF;
	background: #00CCFF;
	color: #FFF;
}
.layui-form-checked[lay-skin=primary] i:hover{
	border-color: #00CCFF;
}
/*分页标签*/
.layui-table-page{
	padding: 50px 0;
}
.layui-table-page > div {
	display: flex;
	justify-content: center;
	border: none;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em{
	background-color:#00CCFF;
}