body,ul,p{
	margin:0;
	list-style: none;
	padding:0;
}
input{
	padding:0 !important;
}
#app{
	width:100%;
	height:100%;
	background:#FBFBFB;
	padding:16px 22px;
	box-sizing: border-box;
}
.capitalBox{
	overflow:hidden;
	margin-bottom:16px;
}
.capitalBox li{
	/*height: 206px;*/
	border-radius: 4px 4px 4px 4px;
	text-align: center;
	border: 1px solid rgba(255, 255, 255, 0);
	background:#fff;
	padding:14px 0 20px;
	box-sizing: border-box;
}
.echartBox{
	max-width: 1859px;
    margin: 0 auto !important;
}
.capitalBox img{
	width:69px;
	height:65px;
}
.capitalBox p{
	text-align:center;
	font-family: SourceHanSansSC-regular;
}
.capitalBox .name{
	color: rgba(51, 51, 51, 1);
	font-size: 24px;
	margin:13px 0 15px;
}
.capitalBox .num{
	color: rgba(153, 153, 153, 1);
	font-size: 14px;
	line-height:21px;
	margin-bottom:10px;
}
.capitalBox .text{
	color: rgba(153, 153, 153, 1);
	font-size: 16px;
	line-height:24px;
}
.echartBox ul{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.echartBox li {
	width:49%;
	/*max-width:886px;*/
    /*padding: 0 24px;*/
    box-sizing: border-box;
    margin-bottom:17px;
}
.echartBox li:last-child{
	width:100%;
}
.echartCont{
	width: 100%;
	height: 400px;
}
.echartBox li:last-child .echartCont{
	width:971px;
}
.echartBox img{
	width: 24px;
	height: 24px;
	margin-right:12px;
}
.echartTitle-right{
	display:flex;
	height:35px;
	align-items: center;
}
.echartTitle-right a{
	width: 112px;
	line-height: 36px;
	border-radius: 10px 10px 10px 10px;
	text-align: center;
	border: 1px solid rgba(204, 204, 204, 1);
	color: rgba(111, 192, 230, 1);
	font-size: 18px;
	font-family: SourceHanSansSC-regular;
}
.echartTitle-right a:hover{
	background-color: rgba(236, 251, 255, 1);
	border-color: rgba(111, 192, 230, 1);
}
.echartTitle{
	display:flex;
	justify-content: space-between;
	padding:24px 30px;
	box-sizing: border-box;
	background:#fff;
	/*height: 536px;*/
	border-radius: 4px 4px 4px 4px;
	text-align: center;
	border: 1px solid rgba(255, 255, 255, 0);
}
.normalTitle{
	line-height: 30px;
	color: rgba(51, 51, 51, 1);
	font-size: 20px;
	font-family: SourceHanSansSC-bold;
}
.subTitle{
	height: 21px;
	color: rgba(105, 200, 245, 1);
	font-size: 14px;
	text-align: left;
	font-family: SourceHanSansSC-regular;
	margin-left:24px;
}
.clearRight{
	margin-right:0;
}
#test6{
	width:266px;
	text-align: center;
	/*width: 72px;
	height: 21px;*/
	color: rgba(16, 16, 16, 1);
	font-size: 14px;
	font-family: SourceHanSansSC-regular;
}
.spanBox{
	height: 30px;
    display: flex;
    align-items: center;
}
.echartContentBox{
	background:#fff;
	overflow: hidden;
	padding: 0 30px;
	box-sizing: border-box;
}
.echartBox li:last-child .echartContentBox{
	padding-bottom:59px;
}
.echartTabBox{
	width:656px;
	color: rgba(16, 16, 16, 1);
	font-size: 18px;
	font-family: Roboto;
	border: 1px solid rgba(220, 220, 220, 1);
	float:right;
}
.echartTabText{
	border: 1px solid rgba(220, 220, 220, 1);
	border-left:0;
	border-right:0;
}
.aBox a:first-child{
	border-right:1px solid rgba(220, 220, 220, 1);
}
.aBox a , .echartTabText li , .echartTabList span{
	line-height:60px;
	width:100%;
	text-align: center;
	padding:0;
	margin:0;
}
.echartTabText ul, .aBox , .echartTabList{
	display:flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: unset;
}
.echartCont {
	float:left;
}
.active{
	color:#6FC0E6 !important;
}
.echartTabList{
	border-bottom: 1px solid rgba(220, 220, 220, 1);
}
.echartTabList:last-child{
	border-bottom: 0;
}
.echartOperationBox{
	background:#fff;
	height:723px;
}
.echartOperationBox a , .echartOperationList a{
	width:100%;
	height:100%;
	display:inline-block;
}
.echartOperationBox .imgBox{
	display:flex;
	justify-content: center;
	align-items: center;
	margin-bottom:64px;
}
.echartOperationBox .imgBox img{
	width:220px;
	height:220px;
	margin:0;
}
.echartOperationBox .imgBox span{
	width:403px;
	max-width:403px;
	height:0px;
	border-top: 4px dotted rgba(240, 240, 240, 1);
	margin:0 18px;
}
.echartOperationABox{
	display:flex;
	justify-content: space-around;
}
.echartOperationList{
	display:flex;
	width:619px;
	justify-content: space-between;
	flex-wrap: wrap;
}
.echartOperationList .list , .newList a{
	line-height: 40px;
	border-radius: 10px;
	text-align: center;
	border: 1px solid rgba(204, 204, 204, 1);
	width:193px;
	margin-bottom:20px;
    height: 40px;
    display:inline-block;
}
.iBox{
	display:flex;
	justify-content: space-around;
	align-items: center;
	height:40px;
}
.right_i[data-v-83c1ae6e] {
    display: block;
    height: 25px;
    transform: rotate(45deg);
    border-left: 1px solid #b0b0b0;
}
.left_i[data-v-83c1ae6e] {
    display: block;
    height: 25px;
    transform: rotate(-45deg);
    border-right: 1px solid #b0b0b0;
}
.newList{
	border:none !important;
	display: flex !important;
    justify-content: space-between;
    flex-wrap: wrap;
    width:100% !important;
}
.echartOperationABox a:hover {
    background-color: rgba(236, 251, 255, 1);
    border-color: rgba(111, 192, 230, 1);
    border-radius:10px;
    color: rgba(111, 192, 230, 1);
}
.echartCont{
	/*display:flex;
	flex-wrap: wrap;*/
}
.barBox{
	height:34px;
	margin-bottom:34px;
	padding:0 16px;
	box-sizing:border-box;
	width:100%;
}
.barBox span{
	color: rgba(102, 102, 102, 1);
	font-size: 18px;
	font-family: SourceHanSansSC-regular;
	float:left;
	line-height:34px;
}
.textMes{
	color: rgba(111, 192, 230, 1) !important;
	font-size: 18px;
	font-family: SourceHanSansSC-regular;
	float:right !important;
}
.lineWidth{
	display:block;
	height:34px;
	width:516px;
	max-width:516px;
	position:relative;
	margin:0 23px;
	float:left;
}
.lineWidth span{
	height:100%;
	position:absolute;
	left:0;
	animation: widthChange 4s;
	background:#80DCF8;
	animation-fill-mode:forwards;
}
@keyframes widthChange{
	from {
		width:0;
	}
	to {
		width:100%;
	}
}